*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    /*border: 1px solid;*/
    margin: auto auto;
    align-items: center;
}

input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item{
    display: flex;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 3%;
}

.item.clicked{
    background: #d4f6d9;
}

.item.clicked .item-name{
    text-decoration: line-through;
    color: gray;
}

.item-icon{
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.item-name{
    flex: 55%;
    /* border: 1px solid green; */
    font-size: 20px;
    font-weight: bold;
}

.item-button{
    flex: 25%;
    /* border: 1px solid blue; */
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;   
    background: red;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    height: 80px;
}

.check_circle{
    color: green;
}